.root {
  box-shadow: 0px 1px 12px rgb(182 182 182 / 40%);
  background: #2f7491;

  .container {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    padding-left: 0;

    li {
      margin: 0 40px;
      list-style-type: none;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-size: 15px;
    }
  }

  .cabinet {
    margin-left: auto;
  }

  .caption {
    margin: 0 20px;
    color: #ffffffad;
    font-size: 15px;
  }
}
