.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/images/bg.png");
  background-repeat: repeat;

  &.landing {
    background-image: none;
  }

  main {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

    & > * {
      width: 100%;
    }
  }

  .mobilMenu {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #2f7491;
    color: white;
    z-index: 100;

    &:active, &:focus, &:hover {
      background-color: #2f7491;
      color: white;
    }

    @media (max-width: 1000px) {
      display: block;
    }
  }
}
