.root {
  padding: 30px 0;

  .info {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    padding: 20px;

    dt {
      margin-bottom: 5px;
      font-weight: bold;
    }

    dd {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  .titleWarp {
    position: relative;
    padding-right: 50px;
  }

  .infoIcon {
    display: block;
    margin: 0 auto;
    font-size: 50px;
  }

  .buttonEdit {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }
}
