.root {
  padding: 30px 0;
}

.usersHeader {
  display: flex;
  margin-bottom: 20px;

  ul {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 10px;
    height: 100px;
    padding: 0;
    font-size: 14px;
  }

  li {
    margin-right: 20px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 300px;
    list-style-type: none;

    b {
      margin-right: 10px;
    }
  }

  .user {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px;
    padding: 20px 20px 12px;
  }

  .faces {
    width: 100%;
    max-width: 500px;
  }

  .hide {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.tableWrap {
  max-height: 700px;
  overflow-y: auto;
  margin-bottom: 60px;
}

.table {
  width: 100%;
  max-width: 1240px;
  table-layout: auto;
  border-collapse: collapse;
  font-size: 14px;

  thead tr {
    background-color: #2f7491;
    color: white;
  }

  tbody tr {
    background-color: white;

    &:nth-child(2n + 1) {
      background-color: #efefef;
    }
  }

  .selectedTr {
    box-shadow: 3px 3px 1px #00bd077a inset, -2px -2px 1px #00bd077a inset;
  }

  th,
  td {
    border: 1px solid #afafaf;
    padding: 5px 10px;
    font-weight: 300;
  }

  td {
    width: 100px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td[data-content="name"],
  td[data-content="address"],
  td[data-content="email"] {
    width: 200px;
    max-width: 250px;
  }

  td[data-content="faces"],
  td[data-content="facesProcessed"] {
    width: 100px;
    max-width: 100px;
    text-align: center;
  }
}

.admins {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}

.addresses {
  display: inline-block;
  vertical-align: top;
}
