.root {
  max-width: 700px;
  padding: 30px;

  .title {
    margin: 0 0 40px;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
  }

  .field {
    margin: 0 20px 20px;
    width: 100%;
    max-width: 280px;
  }

  .buttons {
    margin: 40px auto 20px;
    text-align: center;

    > * {
      margin: 0 10px;
    }
  }
}
